In [1]:
import tushare as ts
import pandas as pd
import numpy as np

In [2]:
ts.get_hist_data('600519') # 一次性获取日K数据

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2019-11-18,1225.12,1229.45,1227.00,1218.00,17461.83,2.10,0.17,1221.500,1210.487,1193.795,21690.25,20846.59,22501.81
2019-11-15,1230.00,1232.91,1224.90,1221.50,16340.72,-5.10,-0.41,1215.900,1207.746,1190.870,21666.38,21774.21,22892.45
2019-11-14,1227.00,1240.00,1230.00,1222.00,23521.12,6.00,0.49,1211.920,1203.756,1188.414,23300.66,22421.33,23489.99
2019-11-13,1207.00,1227.80,1224.00,1200.00,31977.04,22.40,1.86,1206.194,1198.757,1186.081,21830.01,22660.15,23839.37
2019-11-12,1204.00,1209.60,1201.60,1198.21,19150.55,2.60,0.22,1199.994,1194.737,1183.381,19382.10,21587.92,25198.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-05-26,450.82,455.60,451.92,448.00,27386.64,1.32,0.29,449.764,449.764,449.764,36057.42,36057.42,36057.42
2017-05-25,448.71,452.96,450.60,447.50,28898.42,0.28,0.06,449.225,449.225,449.225,38225.12,38225.12,38225.12
2017-05-24,452.90,456.48,450.32,446.00,40226.18,-3.88,-0.85,448.767,448.767,448.767,41334.02,41334.02,41334.02
2017-05-23,442.25,454.47,454.20,442.25,48454.39,12.42,2.81,447.990,447.990,447.990,41887.94,41887.94,41887.94
2017-05-22,439.04,446.01,441.78,436.20,35321.49,0.96,0.22,441.780,441.780,441.780,35321.49,35321.49,35321.49